$White: hsl(0, 0%, 100%);
$Slate-100: hsl(202, 86%, 94%);
$Slate-300: hsl(203, 41%, 72%);
$Slate-500: hsl(200, 26%, 54%);
$Slate-700: hsl(200, 24%, 40%);
$Slate-900: hsl(202, 55%, 16%);
$Slate-1100: hsl(201, 56%, 11%);
$primary-color: #d7da2f;
$lightned-primary-color: hsl(63, 100%, 84%);
$error-color: hsl(4, 69%, 50%);
